/* Corpo */

* {
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

body {
  background-image: url("../img/atom.gif");
  background-attachment: fixed;
  background-repeat: repeat;
  height: 100vh;
}

@media (min-width: 400px) {
  body {
      font-size: 18px;
  }
}

@media (min-width: 600px) {
  body {
      font-size: 22px;
  }
}

/* Cabeçalho */

header {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2em;
}

.menu {
  background-color: whitesmoke;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
}

.menu a {
  color: rgb(0, 0, 0);
  display: block;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  text-decoration: none;
  transition: background-color 0.7s, color 0.7s, font-size 0.7s;
}

.menu a:hover {
  background-color: black;
  color: whitesmoke;
  text-transform: uppercase;
}

.menu li {
  list-style: none;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

/* Titulo */

.title {
  opacity: 0;
  animation: 1s ease 500ms animatitle forwards;
}

@keyframes animatitle {
  from {
    transform: scale(0.5) translateY(0vh);
    opacity: 0;
  }
  
  to {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}

@media (max-width: 360px) {
  .title {
    font-size: 0.9em;
  }
}

.site-title {
  color: whitesmoke;
  font-size: 4em;
  line-height: 1em;
  margin-bottom: 20px;
  text-align: center;
  text-shadow: 1px 1px 5px #1b00ff;
}

.site-subtitle {
  color: silver;
  font-style: italic;
  font-weight: lighter;
  text-align: center;
  font-size: 2em;
}

/* Sobre */

section {
  display: block;
}

.sobre, .contato, .portfolio {
  padding: 1em;
  min-height: 100vh;
}

.sobre h2, .contato h2, .portfolio h2 {
  color: whitesmoke;
  font-size: 2.2em;
  margin-bottom: 1em;
}

.sobre h3 {
  color: whitesmoke;
  padding: 1.3em;
  text-align: justify;
}

.sobre div {
  text-align: center;
}

.img-sobre {
  clip-path: polygon(100% 0%, 80% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
  object-fit: cover;
  float: right;
  height: 250px;
  width: 250px;
  object-position: top left;
  margin: 1.2em;
}

@media (max-width: 490px) {
  .img-sobre {
    clip-path: polygon(50% 15%, 100% 0, 100% 75%, 50% 100%, 0 75%, 0 0);
    float: none;
  }
}

/* Portfólio */

.grid {
  display: grid;
  gap: 4em;
  align-content: center;
  justify-content: center;
  text-align: center;
}

@media (min-width: 560px) {
  .grid {
    grid-template-columns: 200px 200px;
  }
}

@media (min-width: 940px) {
  .grid {
    grid-template-columns: repeat(4, 200px);
    height: calc(100vh - 8em - 48px);
  }
}

.portfolio figcaption {
  font-weight: bold;
  font-size: 1.2em;
}

.sobre a, .portfolio figcaption:hover {
  text-decoration: underline;
}

.img-portfolio {
  border-radius: 10px;
  height: 200px;
  object-fit: cover;
  width: 200px;
  transition: transform 500ms;
}

.flip-card {
  height: 180px;
  perspective: 1000px;
}

.flip-card:hover .card {
  transform: rotateY(180deg);
}

.card {
  position: relative;
  transform-style: preserve-3d;
  transition: transform 2s;
}

.card-front, .card-back {
  backface-visibility: hidden;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.card-back {
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, .7);
  height: 200px;
  width: 200px;
  transform: rotateY(180deg);
}

.card h3 {
  padding: 1em;
}

.card-back h3 a {
  text-decoration: underline;
  color: black;
}

.boracorrer .img-portfolio {
  object-position: 15%;
}

/* Contato */

.icons i {
  color: white;
  font-size: 6em;
}

.índice {
  padding-top: 1.2em;
  text-shadow: 1px 1px 5px #1b00ff;
}

/* Retorno */

.back a:hover, .contato a:hover {
  text-shadow: 0px 0px 8px whitesmoke;
}

.back img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  position: fixed;
  bottom: 0;
  right: 0;
}

.back {
  text-align: center;
  font-size: 1.8em;
}