* {
  margin: 0;
  padding: 0;
  box-sizing: box-border;
}

a {
  text-decoration: none;
  color: black; 
}

a:hover {
  text-decoration: underline;
  font-size: 4vh
}

body {
  background-color: black;
  background-size: 100%;
  color: whitesmoke;
  font-family: monospace;
  height: 90vh
}

header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  background-color: whitesmoke;
  position: fixed;
  width: 100%;
  top:0px
}

.menu a {
  display: block;
  padding: 10px 20px;
}

.menu li {
  list-style: none;
}

nav {
  display: flex;
  justify-content: space-around;
}

.site-title,
.sub-title {
  text-align: center 
}

.sub-title {
  font-style: italic;
  font-size: 5vh;
}

.site-title {
  font-size: 7vh;
}

li {
  font-size: 3.5vh
}

.img-portifolio {
  heigth: 60vh;
  width: 60vh;
}

section {
  font-size: 3vh;
  text-align: center;
}